html, body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
/*
**************************************
						**************
						*	Header   *
						**************
**************************************
*/
@font-face {
    font-family: "oblivion";
    src: url('../Polices/oblivion-font.ttf');
}
/*

						**************
						* Decoration *
						**************
*/
#main{ 
	position: relative;
	min-height: 100%;
	background: url(../res/splashimages/nuancegri.png) no-repeat center fixed;
	background-size: cover;
}

#backgroundheader {
	width: 100%;
	height: 150px;
	background: url(../res/splashimages/header.png) no-repeat center;
	background-size: 100%;
	position: relative;
	padding-top: 0;
}

#titre {
	padding-top: 40px;
	float: right;
	padding-right: 50%;
	width: 500px; 
}

#titre img{
	padding-left: 50%;
	width: 100%;
}
 
/*

						**************
						*   Panel    *
						**************
*/
#menu {
	padding-left: 15px;
	float: left;
	width: 170px;
	background: url(../res/splashimages/backgroundpanel.png) no-repeat center;
	background-size: 150%;
	border: 3px solid black;	
	font-size: 1.2vw;
}

#menu ul {
	padding-top: 20px;
	padding-bottom: 20px;
	font-family: "oblivion";
	padding-left: 0;
	list-style-type: none;
}

#menu ul a {
	text-decoration: none;
}

#menu ul a li {
	border-radius:2px;
	box-shadow:3px 3px 12px #999;
	font-size: 10px;
	padding-top: 10px;
	margin-bottom: 10px;
	width: 90%;
	height: 80px;
	background-color: #387fc1;
	line-height: 70px;
	color: black;
}

#menu ul a li:hover {
	background-color: #1587f1;
	color: white;
}

.imagepanel {
	padding-top: 5px;
	height: 50px;
	float: left;
	width: 75px;
	margin: auto;
}

.imagepanel img{
	width: 90%;
	position: center;
}

/*	
**************************************			
						**************
						*	Footer   *
						**************
**************************************
*/

footer{
	position: absolute;
	bottom: 0;
	height: 60px;
	width: 100%;
	background-color: #387fc1;
}

#footerpanel {
	position: relative;
}
#footerpanel ul {
	font-family: 'oblivion';
	margin-top: auto;
	padding-left: 25%;
}

#footerpanel ul li{
	font-size: 10px;
	margin-left: 50px;
	display: inline-block;
	list-style-type: none;
	text-align: center;
	line-height: 60px;
	height: 60px;
}

.imagefooterpane {
	padding-top: 5px;
	height: 75px;
	float: left;
	width: 75px;
}

.imagefooterpane img{
	width: 80%;
	position: center;
}

/*
**************************************
						**************
						*    index   *
						**************
**************************************
*/
section {
	padding-bottom: 100px;
	margin-bottom: 2%;
	margin-top: 3%;
	margin-left: 230px;
	margin-right: 60px;	
	font-size: 1.2vw;
}

section table tr td{
	text-align: center;
}

/*****************************************/

#boiteaccueil {
	padding: 15px;
	margin: 5px;
	width: 90%;
	height: 50vh;
	margin-bottom: 20vh;
	margin-left: auto;
	margin-right: auto;	
	font-size: 1.2vw;
}

/*****************************************/


#jeu{
	float: left;
	width: 45%;
}

#presentation{
	border: 3px solid black;
	padding: 10px;
}



/*****************************************/

#telechargement{
	float: right;
	height: 270px;
	width: 45%;	
	font-size: 1.2vw;
}

#lien {
	border: 3px solid black;
}

#lien table{
	padding: 0;
	margin: 0
}

#lien table td{
	border-bottom: 1px dotted black;
}


/********************************************/

#nouv{
	padding-left: 80px;
}
.boite {
	margin: 5px;
	border: 3px solid black;
	width: 90%;
	height: 25vh;
	margin-left: auto;
	margin-right: auto;
}

.imageboite {
	padding-top: 5px;
	padding-right: 5px;
	float: left;
	height: 100px;
	width: 100px;
}

.titreboite{
	font-size: 1vw;
	float: center;
	text-align: left;
	padding: 5px;
	float: center;
	height: 10%;
}
.textboite{
	padding: 10px;
	float: center;
	height: 40%;
}

.lienboite {
	padding-top: 3vh;
	padding-left: 15px;
	padding-right: 15px;
	height: 20%;
	float: center;
}

.lien{
	float: right;
}

.lien a{
	text-decoration: none;
	color: black;
}

.date{
	float: left;
	right: 0;
}
/*
**************************************
						**************
						* Actualités *
						**************
**************************************
*/
.actualite {
	margin: 5px;
	border: 3px solid black;
	width: 90%;
	height: 22vh;
	margin-left: auto;
	margin-right: auto;
}

.imageactualite {
	padding-top: 5px;
	padding-right: 5px;
	float: left;
	height: 100px;
	width: 100px;
}

.titreactualite {
	float: center;
	font-size: 20px;
	text-align: left;
	padding: 5px;
	float: center;
	height: 10%;
}
.textactualite {
	padding: 10px;
	padding-bottom: 0;
	float: center;
	height: 40%;
}

.lienactualite {
	padding-top: 3vh;
	padding-left: 15px;
	padding-right: 15px;
	height: 20%;
	float: center;
}
.dateactualite {
	float: right;
	right: 0;
}

/*
**************************************
						**************
						*    WIKI    *
						**************
**************************************
*/
#wikipanel {
	background: url(../res/splashimages/backgroundwikipanel.png) no-repeat center;
	padding-top: 0;
	position: relative;
	margin-left: 230px;
	margin-right: 60px;	
	font-size: 1.2vw;
}
#wikipanel ul {
	font-family: 'oblivion';
	border: 3px solid black;
	margin-top: auto;
	padding-top: 15px;
	padding-left: 20%;
	padding-bottom: 15px;
}

#wikipanel ul a{
	text-decoration: none;
	color: black;
}

#wikipanel ul a li{
	text-align: center;
	line-height: 50px;
	display: inline-block;
	border-radius:2px;
	box-shadow:3px 3px 12px #999;
	background-color: #387fc1;
	width: 17%;
	height: 50px;
}

#wikipanel ul a li:hover {
	background-color: #1587f1;
	color: white;
}
table{
	margin-bottom: 40px;
}
caption{
	text-shadow: 0 0 20px rgba(0,0,0, 0.5);
	padding-bottom: 8px;
}
/*
						**************
						*   Monstre  *
						**************
*/
.intromonstre {
	text-align: center;
	font-size: 20px;
}

.monstre {
	margin: 5px;
	border: 3px solid black;
	width: 90%;
	height: 25vh;
	margin-left: auto;
	margin-right: auto;
}

.imagemonstre {
	padding-top: 5px;
	padding-right: 5px;
	float: left;
	height: 100px;
	width: 100px;
}

.titremonstre {
	float: center;
	font-size: 20px;
	text-align: left;
	padding: 5px;
	float: center;
	height: 10%;
}
.textmonstre {
	padding: 10px;
	float: center;
	height: 40%;
}
/*
**************************************
						**************
						*   Contact  *
						**************
**************************************
*/

.introcontact{
	text-align: center;	
	font-size: 1.7vw;
}

.contact {
	margin: 5px;
	border: 3px solid black;
	width: 90%;
	height: 140px;
	margin-left: auto;
	margin-right: auto;
}

.imagecontact {
	padding-top: 5px;
	padding-right: 5px;
	float: left;
	height: 100px;
	width: 100px;
}

.titrecontact{
	float: center;
	font-size: 20px;
	text-align: left;
	padding: 5px;
	float: center;
	height: 10%;
}
.textcontact{
	padding: 10px;
	float: center;
	height: 40%;
}

#joindre{
	margin: 5px;
	width: 90%;
	height: 140px;
	margin-left: auto;
	margin-right: auto;
}

