html, body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
/*

						**************
						*	Header   *
						**************
*/
header {
	width: 100%;
	height: 125px;
	background-color: #0DA18D;
	position: relative;
	padding-top: 0;
} 

#Menu ul {
	padding-top: 25px;
	float: left;
	left: 50%;
	position: relative;
	margin-left: -60px;

}

#Menu ul li {
	line-height: 30px;
	text-align: center;
	margin-left: 20px;
	float: left;
	list-style-type: none;
	position: relative;
	left: -50%;
}

#Menu ul li a {
	text-decoration: none;
	color: black;
	display: inline-block;
	width: 100%;
	height: 30px;
	background-color: #0D7366;
	border: 1px solid black;
}

#Menu ul li a:hover {
	background-color: #6FEADA;
	color: white;
	border: 1px solid black;
}
/*

						**************
						*   Contact  *
						**************
*/
#Contact{
	margin: 5px auto;
	background-color: #7fffbb;
	width: 70%; 
	height: 80px; 
	text-align: center;
	line-height: 50px;
	border: 1px solid black;
}

#Contact a{
	text-decoration: none;
	color : black;
}
/*

						**************
						*	 Body    *
						**************
*/
body{
	display: table;
}

#Text {
	text-align: justify;
	margin: 5%;
}
/*				
						**************
						*	Footer   *
						**************
*/
footer{
	display: table-row;
	height: 20px;
	width: 100%;
	background-color: #0DA18D;
	margin-top: 5px;
 	bottom : 0;
}

#Droits a{
	text-decoration: none;
}

#Droits a p {
	text-align: center;
	color: black;
}